html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    //overflow: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


.appContainer{
    flex: flex-grow;
    height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  color: #3981d2
}

* {
  box-sizing: border-box;
}

h1{
    font-size: 30px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
